body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

ul.list_items li{
	padding:5px;
	border-bottom: 1px #ccc dashed;
	list-style: square;
}

ul#actions{
	padding: 0;
	margin: 0;
	float: right;
	width: 180px;
	padding: 5px;
	background: #f4f4f4;
	border: #ccc 1px solid;
}

ul#actions li{
	padding: 2px 0 2px 15px;
	margin: 0;
	list-style: none;
}
